<h1>Listing activities</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= link_to 'Show', activity %></td>
  </tr>
<% end %>
</table>