<p id="notice"><%= notice %></p>

<h2><%= @activity.name %> progression</h2>

<%= content_tag :div, "", id: "graph", data: {activity: @activity} %>

<%= button_to('Back', activities_path, {:method => 'get', :class => 'btn btn-small'}) %> 